{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>

<table>
	{% for note in user.notes %}
	<tr>
		<td width="590">
			{{ note.data }}
		</td>
		<td>
			<div align= "center">
			<button type="button" onclick="deleteNote({{ note.id }})">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>
<form method="POST">
	<table>
		<tr>
			<td width="550">
				<textarea name="note" id= "note" cols="80"></textarea>
			</td>
			<td>
				<div align= "center">
				<button type="submit">Add note</button>
				</div>
			</td>
		</tr>
	</table>
</form>
{% endblock %}